.profile-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#profile-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

#profile-post div{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    margin-bottom: 5px;
}

#profile-post div p:nth-child(odd){
    border-bottom: 1px solid black;
}